/* @tailwind base;
@tailwind components; */

@responsive{
  .bg-gradient-brand{
    text-size: 12px;
    background-image: linear-gradient(blue, green);
  }
}

@media (min-width: 640px){
  .noman{
    text-size: 12px;
    background-image: linear-gradient(blue, green);
  }

  .sm\:bg-gradient-brand{
    text-size: 12px;
    background-image: linear-gradient(blue, green);
  }
}